

th {
    height: 50px;
}

body{
  align-content: center;
  background-color: rgb(221, 222, 222);
}
h1{
  position: relative;
  left: 32%;
  font-size: 40px;
  font-weight: lighter;
  font-variant: inherit;
}
