tabla-datos table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  position: relative;
  left: 50%;
}

th {
    height: 50px;
}

body{
  align-content: center;
  background-color: rgb(221, 222, 222);
}
h1{
  position: relative;
  left: 32%;
  font-size: 40px;
  font-weight: lighter;
  font-variant: inherit;
}
